<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Teamate Simple Page</h2>

        <form action="#">
            <label for="fname">mate name:</label><br>
            <input type="text" id="name" name="name" value="John"><br><br>
            <input type="button" id="add-btn" class="btn btn-primary" value="Add User">
        </form>
        
        <div id="add-result">&nbsp;</div>

        <form action="#">
            <label for="fname">mate name:</label><br>
            <input type="text" id="rating-name" name="name" value="John"><br><br>
            <label for="fname">project name:</label><br>
            <input type="text" id="rating-project" name="project" value="John"><br><br>
            <label for="fname">project rating:</label><br>
            <input type="text" id="rating" name="rating" value="John"><br><br>
            <input type="button" id="rating-btn" class="btn btn-primary" value="Add Rating">
        </form> 
        
            <div id="rating-result">&nbsp;</div>

        <form action="#">
            <label for="fname">mate name:</label><br>
            <input type="text" id="read-name" name="name" value="John"><br><br>
            <input type="button" id="add-btn" class="btn btn-secondary" value="Read User">
        </form>
        
        <div id="read-result">&nbsp;</div>
    </div>
</body>
</html>
